<div class="my-3 mr-4 movieItem" [ngStyle]= "{'backgroundImage': 'url('+ getPoster(tv.poster_path) +')'}">
  <div title="{{tv.name}}" [routerLink]="['/tv', tv.id]" class="w-100 cursor-pointer movieItem-cursor" style="height: 87%;"></div>
  <div class="movieItemBar w-100 mt-auto d-flex flex-nowrap flex-row justify-content-around">
    <img class="movieItem-watched movieItem-icon cursor-pointer" src="../../assets/movieItem-watched.svg" width="19" height="16">
    <img class="movieItem-favourite movieItem-icon cursor-pointer" src="../../assets/movieItem-favourite.svg" width="16" height="16">
    <img class="movieItem-collection movieItem-icon cursor-pointer" src="../../assets/movieItem-collection.svg" width="16" height="16">
  </div>
</div>
<div class="movieItemText text-white text-nowrap text-center my-3 mr-4">
  <span title="{{tv.name}}" class="cursor-pointer" style="font-size: large; font-weight: 500;">{{tv.name}}</span><br>
  <p class="mt-1" style="font-size: 14px; font-weight: 300;">
    <span *ngIf="tv.first_air_date != ''">{{tv.first_air_date.slice(0,4)}}&nbsp;&nbsp;•&nbsp;&nbsp;</span>
    <img style="vertical-align: text-top;" src="../../assets/star.png" width="15">
    <span>&nbsp;{{tv.vote_average}}</span>
  </p>
</div>