<div style="margin-top: 110px;" class="container">
  <div class="row">
    <div class="col-7">
      <h3 *ngIf="collection" class="font-code text-white ml-4">{{collection.name}}
        <div *ngIf="!special && collection.owner_id" style="font-size: 1.2rem;" class="d-inline-block ml-lg-3">
          <i (click)="edit()" class="fas fa-pencil-alt ml-lg-4 cursor-pointer"></i>
          <i (click)="share()" class="fas fa-share-alt ml-4 cursor-pointer"></i>
          <i (click)="delete()" class="far fa-trash-alt ml-4 cursor-pointer"></i>  
        </div>
      </h3>
      <h6 class="text-white-50 ml-4">{{movieCount}} Movies • {{tvCount}} TV Shows</h6>
    </div>
    <div class="col-5">
      <input [formControl]="search" class="search mr-4" type="text" placeholder="Search...">
    </div>
  </div>
  <app-list *ngIf="list.length" [list]="list" [query]="query"></app-list>
</div>

<app-collection-edit *ngIf="collectionEdit" [id]="collectionEditId" [name]="collectionEditName" [mode]="collectionEditMode" (editDone)="editDone($event)"></app-collection-edit>