<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark">
  <img id="appLogo" class="navbar-brand ml-1 mr-1 no-select" src="../assets/logo.png" width="50">
  <a style="cursor: default;" class="navbar-brand font-code align-">MOVIE MARKER</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="nav navbar-nav ml-2 mr-auto">
      <li><a [class.navItemExpanded]="!isCollapsed" class="nav-link navItem active font-code" (click)="isCollapsed = true" routerLink="/dashboard" routerLinkActive="activeNavItem">
          <img class="navIcon no-select" src="../assets/nav-dashboard-icon.png">Dashboard
        </a></li> 
      <li><a [class.navItemExpanded]="!isCollapsed" class="nav-link navItem active font-code" (click)="isCollapsed = true; collectionRoute(loginModal)" routerLink="/collections" routerLinkActive="activeNavItem">
        <img class="navIcon no-select" src="../assets/nav-collection-icon.png">Collections
      </a></li>
      <li><a [class.navItemExpanded]="!isCollapsed" class="nav-link navItem active font-code" (click)="isCollapsed = true" routerLink="/calendar" routerLinkActive="activeNavItem">
        <img class="navIcon no-select" src="../assets/nav-calendar-icon.png">Calendar
      </a></li> 
      <li><a [class.navItemExpanded]="!isCollapsed" class="navItem nav-link active font-code ml-1" (click)="isCollapsed = true" routerLink="/discover" routerLinkActive="activeNavItem">
        <img class="navIcon no-select" src="../assets/nav-discover-icon.png">Discover
      </a></li>
      <li *ngIf="admin"><a [class.navItemExpanded]="!isCollapsed" class="navItem nav-link active font-code ml-1" (click)="isCollapsed = true" routerLink="/admin" routerLinkActive="activeNavItem">
        <img class="navIcon no-select" src="../assets/nav-settings-icon.png">Admin
      </a></li>
    </ul>
    <div [ngClass]= "{'mb-3 mt-3 pl-5 pr-5' : !isCollapsed}" ngbDropdown>
      <button *ngIf="user == ''" (click)= "openModal(loginModal)" [ngClass]= "{'navItemExpanded w-100' : !isCollapsed}" type="button" class="btn btn-secondary nav-button cursor-pointer font-code">
        Login
      </button>
      <button *ngIf="user != ''" [ngClass]= "{'navItemExpanded w-100' : !isCollapsed}" class="btn btn-secondary dropdown-toggle font-code nav-button cursor-pointer" type="button" ngbDropdownToggle>
        <img class="mr-2 no-select" src="../assets/nav-user-icon.png" width="18">
        <span class="d-inline d-lg-none d-xl-inline">{{user}}</span>
      </button>
      <div id="userDropdownMenu" [class.w-100] = "isCollapsed" ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <a *ngIf="!verified" (click) = "openStaticModal(pinEnterModal)" class="dropdown-item text-white cursor-pointer" ngbDropdownItem>
          <i class="fas fa-exclamation-circle navIcon"></i>Verify
        </a>
        <a (click) = "onLogout()" class="dropdown-item text-white cursor-pointer" ngbDropdownItem>
          <img class="navIcon no-select" src="../assets/nav-logout-icon.png" width="20">Logout
        </a>
      </div>
    </div>
  </div>
</nav>

<ngb-alert *ngIf="userService.getToken() && !verified && showAlert" (close)="showAlert = false;" [type]="'warning'" style="z-index: 100; width: 20%; position: fixed; top: 80px; right: 10px;">
  <span class="cursor-pointer" (click)="openStaticModal(pinEnterModal)">Verify your email now</span>
</ngb-alert>

<ng-template #loginModal let-modal>
  <div class="modal-header d-flex flex-row justify-content-center color-bg-primary" style="border: none; background-image: url('../assets/dashboardBg.png'); background-size: cover;">
    <img style="width: 19%; top: -10px; position: absolute;" src="../assets/logo.png">
    <h3 style="margin-top: 18%; margin-right: -1rem;" class="color-primary font-code ml-auto">Movie Marker</h3>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
    <div style="padding: 2rem; padding-bottom: 1rem;" class="modal-body color-bg-primary">
      <div class="form-group">
        <input ngbAutoFocus style="background-image: url('../assets/form-user-icon.png');" formControlName="loginUsername" type="text" class="form-control color-bg-primary text-white" placeholder="Username">
        <div *ngIf="loginForm.controls['loginUsername'].invalid && loginSubmitted">
          <span *ngIf="loginForm.controls['loginUsername'].errors.required" style="font-size: small;" class="color-primary">Username is required</span>
        </div>
      </div>

      <div class="form-group">
        <input style="background-image: url('../assets/form-password-icon.png');" formControlName="loginPassword" type="password" class="form-control color-bg-primary text-white" placeholder="Password">
        <div *ngIf="loginForm.controls['loginPassword'].invalid && loginSubmitted">
          <span *ngIf="loginForm.controls['loginPassword'].errors.required" style="font-size: small;" class="color-primary">Password is required</span>
        </div>
        <div *ngIf="loginError != ''">
          <span style="font-size: small;" class="color-primary">{{loginError}}</span>
        </div>
      </div>
      <span (click)= "modal.close(); openModal(sendEmailModal)" style="font-size: .9rem;" class="text-white-50 mb-3 ml-3 mx-auto cursor-pointer">Forgot Password?</span>
    </div>

    <div style="border: none; padding: 0 2rem 2rem;" class="modal-footer color-bg-primary">
      <button type="button" class="btn w-100 text-white font-code form-button cursor-pointer" type="submit">Login</button>
      <hr class="bg-white w-100 mt-3 mb-2">
      <button (click)= "modal.close(); openModal(registerModal)" style="background-color: #202020; border: 2px solid white;" type="button" class="btn w-100 mt-3 text-white font-code form-button cursor-pointer" type="button">Register</button>
    </div>

  </form>
</ng-template>

<ng-template #registerModal let-modal>
  <div class="modal-header d-flex flex-row justify-content-center color-bg-primary" style="border: none; background-image: url('../assets/dashboardBg.png'); background-size: cover;">
    <img style="width: 19%; top: -10px; position: absolute;" src="../assets/logo.png">
    <h3 style="margin-top: 18%; margin-right: -1rem;" class="color-primary font-code ml-auto">Movie Marker</h3>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div style="padding: 2rem; padding-bottom: 1rem;" class="modal-body color-bg-primary">
    <form [formGroup]="registerForm" novalidate>
      <div class="form-group">
        <input ngbAutoFocus style="background-image: url('../assets/form-user-icon.png');" formControlName="registerUsername" type="text" class="form-control color-bg-primary text-white" placeholder="Username">
        <div *ngIf="registerForm.controls['registerUsername'].invalid && registerSubmitted">
          <span *ngIf="registerForm.controls['registerUsername'].errors.required" style="font-size: small;" class="color-primary">Username is required</span>
          <span *ngIf="registerForm.controls['registerUsername'].errors.minlength" style="font-size: small;" class="color-primary">Username must be at least 5 characters</span>
        </div>
      </div>
      <div class="form-group">
        <input style="background-image: url('../assets/form-user-icon.png');" formControlName="registerEmail" type="text" class="form-control color-bg-primary text-white" placeholder="Email">
        <div *ngIf="registerForm.controls['registerEmail'].invalid && registerSubmitted">
          <span *ngIf="registerForm.controls['registerEmail'].errors.required" style="font-size: small;" class="color-primary">Email is required</span>
          <span *ngIf="registerForm.controls['registerEmail'].errors.email" style="font-size: small;" class="color-primary">Enter a valid email address</span>
        </div>
      </div>
    </form>
    <form [formGroup]="registerPassword" novalidate>
      <div class="form-group mt-4">
        <input style="background-image: url('../assets/form-password-icon.png');" formControlName="password" type="password" class="form-control color-bg-primary text-white" placeholder="Password">
        <div *ngIf="registerPassword.controls['password'].invalid && registerSubmitted">
          <span *ngIf="registerPassword.controls['password'].errors.required" style="font-size: small;" class="color-primary">Password is required</span>
          <span *ngIf="registerPassword.controls['password'].errors.minlength" style="font-size: small;" class="color-primary">Password must be at least 6 characters</span>
        </div>
      </div>
      <div class="form-group">
        <input style="background-image: url('../assets/form-password-icon.png');" formControlName="password1" type="password" class="form-control color-bg-primary text-white" placeholder="Confirm Password">
        <div *ngIf="registerPassword.invalid && registerSubmitted">
          <span *ngIf="registerPassword.errors && registerPassword.errors.notSame" style="font-size: small;" class="color-primary">Enter the same password</span>
        </div>
        <div *ngIf="registerError != ''">
          <span style="font-size: small;" class="color-primary">{{registerError}}</span>
        </div>
      </div>
    </form>
    <div style="border: none;" class="modal-footer color-bg-primary">
      <button (click)="onRegister()" type="button" class="btn w-100 text-white font-code form-button cursor-pointer" type="button">Register</button>
      <hr class="bg-white mt-3 w-100">
      <span style="font-size: small;" class="text-white-50">By clicking on register, you agree to the <u class="cursor-pointer">terms and conditions</u> of the website.</span>
    </div>
  </div>
</ng-template>

<ng-template #sendEmailModal let-modal>
  <div class="modal-header d-flex flex-row justify-content-center color-bg-primary" style="border: none; background-image: url('../assets/dashboardBg.png'); background-size: cover;">
    <img style="width: 19%; top: -10px; position: absolute;" src="../assets/logo.png">
    <h3 style="margin-top: 18%; margin-right: -1rem;" class="color-primary font-code ml-auto">Movie Marker</h3>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="padding: 2rem; padding-bottom: 1rem;" class="modal-body color-bg-primary">
    <div class="form-group">
      <label style="font-size: .9rem;" class="text-white-50" for="pwResetEmail">Enter your email address to reset password</label>
      <input [formControl]="pwResetEmail" style="background-image: url('../assets/form-user-icon.png');" type="text" class="form-control color-bg-primary text-white" id="pwResetEmail" placeholder="Email">
    </div>
    <p class="text-center text-white">A six digit code will be sent to your email</p>
    <p *ngIf="pwResetEmailError" style="color: crimson" class="text-center">An account with the specified email does not exist</p>
  </div>

  <div style="border: none; padding: 0 2rem 2rem;" class="modal-footer color-bg-primary">
    <button (click)="sendVerifyEmail(pinEnterModal); " type="button" class="btn w-100 text-white font-code form-button cursor-pointer" type="button">Send Email</button>
  </div>
</ng-template>

<ng-template #pinEnterModal let-modal>
  <div class="modal-header d-flex flex-row justify-content-center color-bg-primary" style="border: none; background-image: url('../assets/dashboardBg.png'); background-size: cover;">
    <img style="width: 19%; top: -10px; position: absolute;" src="../assets/logo.png">
    <h3 style="margin-top: 18%; margin-right: -1rem;" class="color-primary font-code ml-auto">Movie Marker</h3>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="padding: 2rem; padding-bottom: 1rem;" class="modal-body color-bg-primary">
    <label style="font-size: 1rem;" class="text-white mb-3 text-center" for="pin-input">Enter the six-digit code sent to your email</label>
    <input [formControl]="verificationPin" (keydown)="pinKeyDown($event)" id="pin-input" type="number" maxlength="6" max="6">
    <p *ngIf="resendEmailShown" (click)="resendEmail()" class="text-white-50 mb-0 cursor-pointer">Resend Email</p>
    <p *ngIf="verifyPinError" style="color: crimson" class="text-center mt-2 mb-0">Incorrect PIN</p>
  </div>

  <div style="border: none; padding: 2rem; padding-top: 1rem;" class="modal-footer color-bg-primary">
    <button (click)="verifyPin(pwResetModal); " type="button" class="btn w-100 text-white font-code form-button cursor-pointer" type="button">Verify</button>
  </div>
</ng-template>

<ng-template #pwResetModal let-modal>
  <div class="modal-header d-flex flex-row justify-content-center color-bg-primary" style="border: none; background-image: url('../assets/dashboardBg.png'); background-size: cover;">
    <img style="width: 19%; top: -10px; position: absolute;" src="../assets/logo.png">
    <h3 style="margin-top: 18%; margin-right: -1rem;" class="color-primary font-code ml-auto">Movie Marker</h3>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="padding: 2rem; padding-top: 1rem;" class="modal-body color-bg-primary">
    <div class="form-group mt-4">
      <input [formControl]="changePw" style="background-image: url('../assets/form-password-icon.png');" type="password" class="form-control color-bg-primary text-white" placeholder="Password">
    </div>
    <div class="form-group">
      <input [formControl]="changePw2" style="background-image: url('../assets/form-password-icon.png');" type="password" class="form-control color-bg-primary text-white" placeholder="Confirm Password">
    </div>
    <p *ngIf="changePwError" style="color: crimson" class="text-center mt-2 mb-0">{{changePwError}}</p>
  </div>

  <div style="border: none; padding: 0 2rem 2rem;" class="modal-footer color-bg-primary">
    <button (click)="changePassword(loginModal); " type="button" class="btn w-100 text-white font-code form-button cursor-pointer" type="button">Save Password</button>
  </div>
</ng-template>

<router-outlet></router-outlet>
