<div class="my-3 mx-auto movieItem" [ngStyle]= "{'backgroundImage': 'url('+ getPoster(tv.poster_path) +')'}">
  <div title="{{tv.name}}" [routerLink]="['/tv', tv.id]" class="w-100 cursor-pointer movieItem-cursor" style="height: 87%;"></div>
  <div class="movieItemBar w-100 mt-auto d-flex flex-nowrap flex-row justify-content-around">
    <img (click)="addWatched()" [class.isWatched]="isWatched" class="movieItem-watched movieItem-icon cursor-pointer" src="../../../assets/movieItem-watched.svg" width="19" height="16">
    <img (click)="addFavourite()" [class.isFavourite]="isFavourite" class="movieItem-favourite movieItem-icon cursor-pointer" src="../../../assets/movieItem-favourite.svg" width="16" height="16">
    <img (click)="addingToCollection = true" class="movieItem-collection movieItem-icon cursor-pointer" src="../../../assets/movieItem-collection.svg" width="16" height="16">
  </div>
</div>
<div [routerLink]="['/tv', tv.id]" class="movieItemText text-white text-nowrap text-center my-3 mx-auto">
  <span title="{{tv.name}}" class="cursor-pointer" style="font-size: large; font-weight: 500;">{{tv.name}}</span><br>
  <p *ngIf="!calendar" class="mt-1 cursor-pointer" style="font-size: 14px; font-weight: 300;">
    <span *ngIf="tv.first_air_date && tv.first_air_date != ''">{{tv.first_air_date.slice(0,4)}}<span *ngIf="tv.vote_average && tv.vote_average != 0.0">&nbsp;&nbsp;•&nbsp;&nbsp;</span></span>
    <img *ngIf="tv.vote_average && tv.vote_average != 0.0" style="vertical-align: text-top;" src="../../../assets/star.png" width="15">
    <span *ngIf="tv.vote_average && tv.vote_average != 0.0">&nbsp;{{tv.vote_average}}</span>
  </p>
  <p *ngIf="calendar == 'last'" title="{{tv.last_episode_to_air.name}}" class="mt-1 cursor-pointer" style="font-size: 14px; font-weight: 300;">
    <span>S{{tv.last_episode_to_air.season_number}} E{{tv.last_episode_to_air.episode_number}}: {{tv.last_episode_to_air.name}}</span>
  </p>
  <p *ngIf="calendar == 'next'" title="{{tv.next_episode_to_air.name}}" class="mt-1 cursor-pointer" style="font-size: 14px; font-weight: 300;">
    <span>S{{tv.next_episode_to_air.season_number}} E{{tv.next_episode_to_air.episode_number}}: {{tv.next_episode_to_air.name}}</span>
  </p>
</div>

<app-collection-add *ngIf="addingToCollection" [item]="tv" [type]="'tv'" (done)="addFinished($event)"></app-collection-add>