<div *ngIf="tv" [ngStyle]= "{'backgroundImage': 'url('+ getBackdrop(tv.backdrop_path) +')'}" id="bg"></div>
<div *ngIf="tv" style="margin-top: 110px;" class="container text-white">
  <div class="row justify-content-between mb-5">
    <div class="col-lg-3 col-12 mt-1 pr-0 d-flex flex-column order-first">
      <img id="poster" src="{{getPoster(tv.poster_path)}}">
    </div>
    <div style="font-size: 0.9rem; margin-top: 2rem;" class="col-lg-6 col-12 text-white order-lg-2 order-3">
        <h3 style="font-size: 1.5rem;" class="text-nowrap">{{tv.name}}
            <span class="text-white-50 font-weight-light" *ngIf="tv.first_air_date">
                &nbsp;({{tv.first_air_date.slice(0,4)}} -
                <span *ngIf="tv.status === 'Ended'">{{tv.last_air_date.slice(0,4)}}</span>
                <span *ngIf="tv.status != 'Ended'">Present</span>)
            </span>
        </h3>
        <h6 *ngIf="tv.number_of_seasons" style="font-size: 1.1rem;" class="font-code mt-3">{{tv.number_of_seasons}} Seasons</h6>
        <div *ngIf="tv.next_episode_to_air || tv.last_episode_to_air">
            <p *ngIf="!tv.next_episode_to_air" style="font-size: 1rem;" class="mt-3 mb-3">{{getLastEpisode(tv.last_episode_to_air)}}</p>
            <p *ngIf="tv.next_episode_to_air" style="font-size: 1rem;" class="mt-3 mb-3">{{getLastEpisode(tv.next_episode_to_air)}}</p>    
        </div>
      <div style="font-size: 1rem;" class="text-white-50">
        <span *ngIf="tv.genres.length">Genres:<span class="text-white"> {{getInfo(tv.genres)}}</span><br></span>
        <span *ngIf="tv.episode_run_time.length">Runtime:<span class="text-white"> {{tv.episode_run_time[0]}} min</span><br></span>
        <span *ngIf="tv.created_by.length">Created By:<span class="text-white"> {{getInfo(tv.created_by)}}</span><br></span>
      </div>
    </div>
    <div class="col-lg-3 col-12 mt-lg-4 mt-2 order-lg-3 order-2">
      <div style="width: fit-content;" class="m-auto text-white">
        <button class="btn font-code item-favourite-btn item-btn mt-0 mt-lg-3 mx-2">
          <i class="fas fa-heart"></i><span class="d-none d-lg-inline-block">&nbsp;&nbsp;Favourite</span>
        </button>
        <button class="btn font-code item-watched-btn item-btn mt-0 mt-lg-3 mx-2">
          <i class="fas fa-check"></i><span class="d-none d-lg-inline-block">&nbsp;&nbsp;Watched</span>
        </button>
        <button class="btn font-code item-collection-btn item-btn mt-0 mt-lg-3 mx-2">
          <i class="fas fa-plus"></i><span class="d-none d-lg-inline-block">&nbsp;&nbsp;Collection</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="tv.overview" class="row mb-4">
    <div class="col-12">
      <h3 class="font-code">About</h3>
      <p class="mt-3">{{tv.overview}}</p>
    </div>
  </div>

  <div *ngIf="tv.overview" class="row mb-4">
    <div class="col-12">
      <h3 class="font-code">Seasons</h3>
      <div class="overflow-x-auto d-flex mt-3 flex-nowrap flex-row w-100">
        <div *ngFor="let seasonIndex of tv.seasons" (click)="selectSeason(seasonIndex.season_number)" class="mr-4 cursor-pointer">
          <div (mouseover) = "seasonMouseHover(seasonIndex.season_number)" [ngStyle]="{'backgroundImage': selectedSeason!==seasonIndex.season_number ? 'url(' + getPoster(seasonIndex.poster_path) + ')' : 'url(' + getPoster(seasonIndex.poster_path) + '), url(../../assets/icon-down-arrow.png)' }" [class.selected-season] = "selectedSeason === seasonIndex.season_number" class="season-poster"></div>
          <div class="text-nowrap season-text">
            <p style="font-size: large ;" class="text-center mt-2 mb-0">{{seasonIndex.name}}</p>
            <p style="font-size: small;" class="text-white-50 text-center">{{seasonIndex.episode_count}} Episodes</p>  
          </div>
        </div>
      </div>
      <h3 class="mt-3" *ngIf="selectedSeason !== null">{{season.name}}</h3>
      <div *ngIf="season && selectedSeason === season.season_number" [@inOutAnimation] class="overflow-x-auto d-flex mt-3 flex-nowrap flex-row w-100" scrollTo>
        <div *ngFor="let episode of season.episodes" class="mr-4 cursor-pointer">
          <img class="episode-poster cursor-pointer" [src]="getPoster(episode.still_path)">
          <div class="text-nowrap episode-text">
            <p style="font-size: large ;" class="text-center mt-2 mb-0 text-nowrap episode-text">{{episode.name}}</p>
            <p style="font-size: small;" class="text-white-50 text-center">{{episode.season_number}}x{{episode.episode_number}}</p>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tv.credits && tv.credits.cast.length" class="row mb-4">
    <div class="col-12">
      <h3 class="font-code">Cast</h3>
      <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
        <div *ngFor="let actor of tv.credits.cast">
          <app-actor-item [actor]="actor" [small]="true"></app-actor-item>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tv.similar && tv.similar.results.length" class="row mb-4">
    <div class="col-12">
      <h3 class="font-code">Similar to {{tv.name}}</h3>
      <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
        <div *ngFor="let tv of tv.similar.results.slice(0,20)">
          <app-tv-item [tv]="tv"></app-tv-item>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tv.recommendations && tv.recommendations.results.length" class="row mb-4">
    <div class="col-12">
      <h3 class="font-code" >You might also like...</h3>
      <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
        <div *ngFor="let tv of tv.recommendations.results.slice(0,20)">
          <app-tv-item [tv]="tv"></app-tv-item>
        </div>
      </div>
    </div>
  </div>
  
</div>
