<div style="margin-top: 110px;" class="container">
  <div class="row">
    <div class="ml-4">
      <h4 *ngIf="collection" class="font-code text-white">{{collection.name}}
        <i class="far fa-plus-square ml-2 cursor-pointer"></i>
      </h4>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let item of list" class="col-6 col-sm-4 col-lg-3">
      <app-movie-item *ngIf="item.type === 'movie'" [movie]="item" [small]="false"></app-movie-item>
      <app-tv-item *ngIf="item.type === 'tv'" [tv]="item"></app-tv-item>  
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngb-pagination [(page)]="page" [pageSize]="15" [collectionSize]="list.length"></ngb-pagination>
    </div>
  </div>
</div>