<div [class.bgCollapsed] = "searching || !getToken()" class="d-flex flex-column" id="bg">
  <div class="mb-5" style="margin-top: 125px; width: 100%; z-index: 2;">
    <div id="searchBar" (click)="searchFocus()">
      <img style="height: 1.4rem;" class="ml-1 no-select" src="../../assets/search-icon.png">
      <input #searchText id="searchText" class="font-code text-white ml-md-5" type="text" placeholder="SEARCH">
    </div>
  </div>
  <div #overviewItems *ngIf="!searching && getToken()" id="overview" class="d-flex">
    <h2 *ngIf="overviewIndex != 0" style="left: 0;" class="mh-100 m-auto text-white cursor-pointer arrow-pointers" (click) = "scrollOverviewPrev(overviewItems)">&nbsp;&nbsp;&lt;</h2>
    <div class="p-5 text-white m-auto d-inline-block w-100">
      <div class="overviewItem">
        <img class="overviewIcon no-select" src="../../assets/film-icon.png" width="30">
        <div class="d-inline-block ml-4 overviewText">
          <span class="text-break">{{movieWatchtime}}</span><br>
          <span>{{movieWatchedCount}} Movies</span>
        </div>
      </div>
    </div>

    <h2 *ngIf="overviewIndex != 2" style="right: 0;" class="mh-100 m-auto text-white cursor-pointer arrow-pointers" (click) = "scrollOverviewNext(overviewItems)">&gt;&nbsp;&nbsp;</h2>
    <div class="p-5 text-white m-auto d-inline-block w-100">
      <div class="overviewItem">
        <img class="overviewIcon no-select" src="../../assets/tv_icon.png" width="40">
        <div class="d-inline-block ml-4 overviewText">
          <span class="text-break">{{tvWatchtime}}</span><br>
          <span>{{tvWatchedCount}} TV Shows ({{episodeWatchedCount}} Episodes)</span>
        </div>
      </div>
    </div>

    <div class="p-5 text-white m-auto d-inline-block w-100">
      <div class="overviewItem">
        <img class="overviewIcon no-select" src="../../assets/collections-icon.png" width="30" height="30">
        <div class="d-inline-block ml-4 overviewText">
          <span><span>{{movieCollectionCount}} Movies</span> collected</span><br>
          <span>{{tvCollectionCount}} TV Shows collected</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!searching && getToken()" class="pb-1 px-md-5 pt-5 pr-2 pl-4">
  <p [routerLink]="['/dashboard/foryou']" routerLinkActive="router-link-active"  style="font-size: x-large" class="font-code text-white cursor-pointer">
    <img src="../../assets/movieItem-favourite.svg" width="22" class="mr-4 no-select">For You
  </p>
  <h5 *ngIf="foryou.length == 0" class="text-center text-white mt-4 text-no-items">Get personal recommendations by adding favourites</h5>
  <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
    <div class="mr-4" *ngFor="let result of foryou.slice(0, 20)">
      <app-movie-item *ngIf="result.title" [movie]="result" [small]="false" [watched]="watched" [favourite]="favourite" (changed)="dataChanged($event)"></app-movie-item>
      <app-tv-item *ngIf="result.name" [tv]="result" [watched]="watched" [favourite]="favourite" (changed)="dataChanged($event)"></app-tv-item>
    </div>
  </div>
</div>

<div *ngIf="!searching && getToken()" class="pb-3 px-md-5 pt-2 pr-2 pl-4">
  <p [routerLink]="['/dashboard/nextup']" style="font-size: x-large" class="font-code text-white cursor-pointer">
    <img src="../../assets/tv_icon.png" width="25" class="mr-4 no-select">Next up
  </p>
  <h5 *ngIf="nextUp.length == 0" class="text-center text-white mt-4 text-no-items mb-5">Add more TV Shows to 'Watched' to start tracking</h5>
  <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
    <div class="mr-4" *ngFor="let result of nextUp">
      <app-tv-item [tv]="result" [calendar]="result.calendar" [watched]="watched" [favourite]="favourite" (changed)="dataChanged($event)"></app-tv-item>
    </div>
  </div>
</div>

<h5 *ngIf="!searching && !getToken()" class="text-center text-white mt-5 text-no-items">Sign in to get personalised recommendations and track shows</h5>

<!--SEARCH RESULT HERE-->
<div style="background-color: #202020;" *ngIf="searching">
  <div *ngIf="movieResults.length!= 0" class="pb-1 px-md-5 pt-5 pr-2 pl-4">
    <p style="font-size: x-large" class="font-code text-white">
      <img src="../../assets/film-icon.png" width="20" class="mr-4 no-select">{{movieResults.length}} Movie<span *ngIf="movieResults.length > 1">s</span>
    </p>
    <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
      <div class="mr-4" *ngFor="let result of movieResults">
        <app-movie-item [movie]="result" [small]="false" [watched]="watched" [favourite]="favourite" (changed)="dataChanged($event)"></app-movie-item>
      </div>
    </div>
  </div>

  <div *ngIf="tvResults.length!= 0" class="pb-1 px-md-5 pt-md-4 pr-2 pl-4">
    <p style="font-size: x-large" class="font-code text-white">
      <img src="../../assets/tv_icon.png" width="20" class="mr-4 no-select">{{tvResults.length}} TV Show<span *ngIf="tvResults.length > 1">s</span>
    </p>
    <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
      <div class="mr-4" *ngFor="let result of tvResults">
        <app-tv-item [tv]="result" [watched]="watched" [favourite]="favourite" (changed)="dataChanged($event)"></app-tv-item>
      </div>
    </div>
  </div>

  <div *ngIf="actorResults.length!= 0" class="pb-1 px-md-5 pt-md-4 pr-2 pl-4">
    <p style="font-size: x-large" class="font-code text-white">
      <img src="../../assets/nav-user-icon.png" width="20" class="mr-4 no-select">{{actorResults.length}} Actor<span *ngIf="actorResults.length > 1">s</span>
    </p>
    <div class="overflow-x-auto d-flex flex-nowrap flex-row w-100">
      <div *ngFor="let result of actorResults">
        <app-actor-item [actor]="result" [small]="false"></app-actor-item>
      </div>
    </div>
  </div>

  <span *ngIf="movieResults.length == 0 && tvResults.length == 0 && actorResults.length == 0" style="font-size: 1.4rem; padding-top: 10rem;" class="font-code text-center text-white d-block">No results found</span>
</div>
