@media screen and (max-width: 355px) {
    div #searchBar {
        width: 80vw !important;
    }
}
@media screen and (max-width: 1240px) {
    h2.arrow-pointers {
        display: inline-block;
    }
    #overview {
        display: block !important;
    }
}
@media screen and (max-width: 400px) {
    .p-5 {
        padding: 2rem !important;
    }
    .arrow-pointers {
        top: 277px !important;
    }
    .overviewIcon {
        margin-left: 1rem;
    }
}

#bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  
    display: block;
    background-image: url('../../assets/navbarBg.png');
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 363px;
    filter: blur(15px);

    outline: 1px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    -webkit-transition: height 500ms ease;
    -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;
}
.bgCollapsed:before {
    height: 33.4% !important;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    
    -webkit-transition: height 500ms ease;
    -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;
}

#searchBar {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.35);
    width: 70vw;
    padding: 13px;
    border-radius: 5px;
    cursor: text;
}
#searchText {
    width: 55vw;
    background-color: transparent; 
    font-size: larger; 
    border: none;
    white-space: nowrap;
}

#overview {
    width: 100%;
    height: 16.6%;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 2;
    text-overflow: clip;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
.overviewIcon {
    vertical-align: unset;
}

.arrow-pointers {
    display: none;
    position: absolute;
    top: 288px;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', 'code';
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;   
}
.overviewItem {
    margin: auto;
    width: fit-content;
}

.overviewText {
    white-space: normal;
    font-size: 0.9rem;
    padding-right: 1rem;
}

.text-no-items {
    font-weight: 350;
}